@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-cimc-blue {
    --tw-bg-opacity: 1;
    background-color: rgb(98 109 214 / var(--tw-bg-opacity)) /* #626dd6 */;
}
.text-cimc-blue {
    color: rgb(98 109 214 / var(--tw-bg-opacity)) /* #626dd6 */;
}
.cimc-standard {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}
.cimc-heading {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 2;
}
.cimc-logo-copy {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}

.py-32 {
  padding-top: 8rem ;
  padding-bottom: 8rem ;
}
