@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-cimc-blue {
    --tw-bg-opacity: 1;
    background-color: rgb(98 109 214 / var(--tw-bg-opacity)) /* #626dd6 */;
}
p.cimc-logo-copy {
    line-height: 1;
    white-space: nowrap;
}
span.cimc-black-logo-copy {
    color: #000000;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}
